.wc-reports{
    font-family:"Trebuchet MS",Helvetica,sans-serif;
    p{
        font-size: 16px;
        line-height: 22.5px;
        margin: 0;
        color: #808080;
    }
    .tags{
        font-size: 14px;
        color: #004d99;
        line-height: 1.14;
    }
    .body{
        padding-top: 25px;
    }
}