.agency-procurement{
    font-family: 'Trebuchet MS',Arial, Helvetica, sans-serif;
    a{
        font-size: 16px;
        height: 23px;
        display: block;
    }
    .archive{
        position:absolute;
        top:5px;
        right:16px;
        font-size: 14px;
        color: #808080;
        a{
            line-height: 1.14;
            display: block;
        }
    }
}